* {
    box-sizing: border-box;
    border: solid 1px red;
}

body {
  font-family: 'Roboto', serif;
  width: 100%;
  margin: 0 auto;
  background: #b3b3b3;
  line-height: 1.2em;
}

.main-header {
  background: white;
  width: 100%;
  margin: 0 auto;/*do i need this? It doesn't seem to be inherited from body?*/
  text-align: center;
/*  color: white;*/
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.myUL {
    /* Remove default list styling */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.img-container {
  padding: 20px 20px;
}

/*p {
  color: #bfbfbf;
  font-weight: 100;
  font-size: .8em;
  padding: 0 15px 15px 15px;
  line-height: 1.6em;
}*/

input[type="text"] {
  border: solid 1px gray;
  border-radius: 5px;
  font-size: 16px;
/*  height: auto;*/
  margin-top: 30px;
  padding: 15px;
  width: 45%;
  background: #eaeef1;
  color: #8a97a0;
}

input[type="text"] {
  transition: all 1s;
}

input:focus, textarea:focus {
    border: 2px solid black;
    border-radius: 5px;
    background: ivory;
}








/* Media query
   ========================================================================== */

/*@media (min-width: 500px) and (max-width: 767px) {


.flex-item {
    flex-wrap: wrap;
    flex: 1 50%;
  }

}*/


@media (min-width: 768px) {

.flex-item {
    flex: 1 33%;
  }

}

@media (min-width: 1024px) {

.flex-item {
    flex: 1 25%;
  }

}

/* Pseudo Classes
   ========================================================================== */

input::placeholder {
  color: gray;
  text-align: left;
  font-size: .7em;
/*  font-style: italic;*/
}
