* {
    box-sizing: border-box;
/*    border: solid 1px red;*/
}

body {
  font-family: 'Merriweather', serif;
  width: 100%;
  min-width: 320px;/*is this OK to do?*/
  margin: 0 auto;
  background: #ffffff;
  color: black;
  line-height: 1.2em;
}


.main-header {
  background: firebrick;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;/*is this OK to do?*/
  background: #ffffff;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.footer {
  text-align: center;
  width: 95%;
  margin: 0 auto 100px;
  font-style: italic;
}

h1 {
  margin: 0;
  padding: 30px 30px;
  font-size: 1.1em;
  font-weight: lighter;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;

}

p {
  color: #bfbfbf;
  font-weight: 100;
  font-size: .8em;
  padding: 0 15px 15px 15px;
  line-height: 1.6em;
}

fieldset p {
  padding: 0;
  color: gray;
  font-size: .9em;
  line-height: 1.6em;
}


hr {
  width: 95%;
  height: 3px;
  color: black;
  background-color: black;
/*  margin-bottom: 20px;*/
}

/*this rule is for my second hr before "contact info"*/
#skinny {
  height: 1px;
  margin-top: -5px;
}

/*this rule is for my hr before "newsletter"*/
#hr-lower {
/*  width: 100%;*/
  margin-bottom: 30px;
}

form {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
/*  background: rgba(255, 255, 255, .1);*/
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background: #edeeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  transition: all 1s;
}

input:focus, textarea:focus {
    border: 2px solid black;
    border-radius: 5px;
    background: ivory;
}

textarea {
  height: 100px;
}

#other_topics {
  margin-bottom: 0px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px 8px 0;
}

#zip {
  width: 200px;
  display: block;
}

select {
  padding: 6px;
  height: 50px;
  font-family: 'Merriweather';
  color: gray;
  font-size: .8em;
}

button {
  font-family: 'Merriweather', serif;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #45b3ac;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #91d4d0;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  margin-top: 20px;
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

label {
  display: inline-block;
  color: gray;
  margin-bottom: 8px;
  font-weight: lighter;
  font-size: .8em;
}


option.light,
label.light {
  font-weight: 100;
  font-size: .9em;
  display: inline;
}


/* Media query
   ========================================================================== */

@media (min-width: 768px) {

  .container {
    display: flex;
/*    flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
/*    margin: 0 auto;*/
/*    width: 95%;*/
  }

  .wrapper {
    width: 90%;
    max-width: 700px;
  }

  body {
    background-color: #ffffff;
  }

  .flex-label {
    flex: 1 25%;

  }

.flex-input,
.flex-select {
  flex: 1 75%;
}

.flex-label-zip,
.flex-input-zip {
  flex: 0 25%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  margin-top: 30px;
}

}

/* Pseudo Classes
   ========================================================================== */

input::placeholder {
  color: gray;
  text-align: right;
  font-size: .7em;
  font-style: italic;
}
